<div class="col-span-2 rounded shadow-lg h-96 bg-gray-700 text-left">
    <p class="text-xl text-black text-white py-4 pl-4">ADMIN DASHBOARD</p>
    <hr class="mx-2">
    <ul>
       <li class="pt-8 pl-4"><a href="/admin-dishes" class="text-black text-white">Dishes Manager</a></li>
       <li class="pt-8 pl-4"><a href="/admin-menuset/cat?categories=0" class="text-black text-white">Menu Set Manager</a></li>

    </ul>
</div>