<footer class="container mx-auto bg-white py-8 border-t border-gray-400">
    <div class="container flex px-3 py-8 ">
        <div class="w-full mx-auto flex flex-wrap">
            <div class="flex w-full lg:w-1/2 ">
                <div class="px-3 md:px-0">
                    <h3 class="font-bold text-gray-900">Copyright©2021</h3>
                    <p class="py-4">
                        Hoang Chau Culinary Services<br>
                        100 Sandino Dr, Jonesboro, Vietnam
                    </p>
                </div>
            </div>
            <div class="flex w-full lg:w-1/2 lg:justify-end lg:text-right">
                <div class="px-3 md:px-0">
                    <h3 class="font-bold text-gray-900">Facebook</h3>
                    <ul class="list-reset items-center pt-3">
                        <li>
                            <a class="inline-block no-underline hover:text-black hover:underline py-1" href="https://www.facebook.com/truong.chau.737448">Hoang Chau</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>